body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.status-accept {
    background-color: #00ff00;
}

.status-rework {
    background-color: yellow;
}

.status-reject {
    background-color: red;
}
