// Function to handle back button click
document.getElementById("back-btn").addEventListener("click", function() {
    if (currentStep > 1) {
        currentStep--; // Decrement current step
        // Clear status cell
        var prevStep = currentStep - 1;
        var statusCell = document.getElementById('status_cell-' + prevStep);
        console.clear();
        console.log("statusCell:",statusCell);
        if (statusCell) {
            statusCell.textContent = ""; // Clear status cell content
            statusCell.style.backgroundColor = "";
        }
        
        var readingsInput = document.getElementById('readingsInput-' + prevStep);
        if (readingsInput) {
            readingsInput.textContent = ""; // Clear status cell content
            readingsInput.style.backgroundColor = "";
        }

        // Clear indicator boxes
        var indicatorBox = document.getElementById('indicator-box-' + prevStep);
        var indicatorBox1 = document.getElementById('indicator-box1-' + prevStep);
        if (indicatorBox) {
            indicatorBox.textContent = ""; // Clear indicator box content
            indicatorBox.style.backgroundColor = white;
        }
        if (indicatorBox1) {
            indicatorBox1.textContent = ""; // Clear indicator box 1 content
            indicatorBox1.style.backgroundColor = white;
        }

        // Show notification for going back
        showNotification(`Going back to step ${currentStep}.`);
        
        // Start calculation for the current step
        startContinuousUpdate();
    } else {
        showNotification("Already at the first step.");
    }
});
