document.getElementById("stop-btn").addEventListener("click", function() {
    var statusCells = document.querySelectorAll('.status_cell');
    var partStatusInput = document.getElementById("part_status");
    var acceptInput = document.getElementById("accept");
    var rejectInput = document.getElementById("reject");
    var reworkInput = document.getElementById("rework");

    // Ensure initial values are numbers, set them to zero if they're not
    if (isNaN(parseInt(acceptInput.value))) {
        acceptInput.value = 0;
    }
    if (isNaN(parseInt(rejectInput.value))) {
        rejectInput.value = 0;
    }
    if (isNaN(parseInt(reworkInput.value))) {
        reworkInput.value = 0;
    }

    if (currentStep === totalSteps) {
        var hasRed = false;
        var hasYellow = false;
        var hasGreen = false;

        statusCells.forEach(function(statusCell) {
            var color = statusCell.style.backgroundColor;
            if (color === 'red') {
                hasRed = true;
            } else if (color === 'yellow') {
                hasYellow = true;
            } else if (color === '#00ff00') {
                hasGreen = true;
            }
            console.clear();

            console.log("statusCells:",statusCell);
        });

        if (hasRed) {
            partStatusInput.style.backgroundColor = 'Red';
            partStatusInput.value = "REJECT";
            partStatusInput.style.fontWeight = "bold";
            partStatusInput.style.textAlign = "center";

            // Increment count for reject
            rejectInput.value = parseInt(rejectInput.value) + 1;
        } else if (hasYellow) {
            partStatusInput.style.backgroundColor = 'Yellow';
            partStatusInput.value = "REWORK";
            partStatusInput.style.fontWeight = "bold";
            partStatusInput.style.textAlign = "center";

            // Increment count for rework
            reworkInput.value = parseInt(reworkInput.value) + 1;
        } else {
            partStatusInput.style.backgroundColor = '#00ff00';
            partStatusInput.value = "ACCEPT";
            partStatusInput.style.fontWeight = "bold";
            partStatusInput.style.textAlign = "center";

            // Increment count for accept
            acceptInput.value = parseInt(acceptInput.value) + 1;
        }

        // Display notification to the client
        
        showNotification("You have completed the measurement for this job.");

        // Display notification to the client
        var notificationContainer = document.getElementById("notification-container");
        notificationContainer.style.display = "block";
    }

    // Stop calculation for the current step
    stopContinuousUpdate();
    // Move to the next step
    moveToNextStep();
});

