{% extends 'app/layouts/main.html' %}
{% block title %}
Report
{% endblock title %}
{% block content %}


<style>
  

.box {
    width: 850px;
    height: 550px;
    margin-left:340px ;
    margin-top: -550px;
    background-color: lightgrey;
    border: 2px solid black;
}

.box-1 {
    width: 250px;
    height: 550px;
    margin-top:20px;
    margin-left: 50px;
    background-color: white;
    border: 2px solid black;
    padding-top: 50px;
    padding-left: 5px;
  }

.inner-box-1, .inner-box-2, .inner-box-3, .inner-box-4, .inner-box-5,.inner-box-6{
    width: 230px; 
    height: 65px;
    background-color:rgb(245, 188, 83);
    border: 2px solid black; 
    margin: 5px;
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: lightgrey;
    
  }
  label {
            display: inline-block;
            width: 150px;
            margin-top: 15px;
            text-align: center;
            margin-left: 20px;
            font-weight: bold;
            
        }

  select {
      margin-top: 10px;
      box-sizing: border-box;
      width: 20%;
      height: 30px;
  }

  #cancel-btn{
             background-color: orange;
             color:black;
             height: 50px;
             width: 150px;
             margin-left: 10px;
             margin-top: 30px;
               
         }
  
  #report_btn_1{
      background-color: green;
      color:black;           
      height: 50px;
      width: 150px; 
      margin-left: 65px; 
      margin-top: 30px;
  }
  .save-btn{
      background-color: green;
      color:black;           
      height: 50px;
      width: 150px; 
      margin-left: 65px; 
      margin-top: 30px;
  }

  .pdf-btn{
      background-color: red;
      color:black;           
      height: 50px;
      width: 150px; 
      margin-left: 65px; 
      margin-top: 30px;
  }

  .email-btn{
      background-color: yellow;
      color:black;           
      height: 50px;
      width: 150px; 
      margin-left: 65px; 
      margin-top: 30px;
  }

  .print-btn{
      background-color: green;
      color:black;           
      height: 50px;
      width: 150px; 
      margin-left: 65px; 
      margin-top: 30px;
  }

  #report-table {
    border-collapse: collapse;
    width: 100%;
}

#table-headers th,
#table-body td {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
}

#table-headers th {
    background-color: #f2f2f2; /* Light gray background color for headers */
}

#table-body{
    background-color: #f2f2f2; /* Alternate row background color */
}

#clock-box{
         font-weight: bold;
        }


</style>


<div class="box-1">
    <div id="consolidated_with_sr" class="inner-box-1" onclick="enlargeItem(1),showItem('item-1')">Consolidated Report <br>(with sr.no)</div>
    <div id="consolidated_without_sr" class="inner-box-2" onclick="enlargeItem(2),showItem('item-2')">Consolidated Report <br>(without sr.no)</div>
    <div id="parameterwise_report" class="inner-box-3" onclick="enlargeItem(3),showItem('item-3')">Parameterwise Report</div>
    <div id="jobwise_report" class="inner-box-4" onclick="enlargeItem(4),showItem('item-4')">Jobwise Report</div>
    <div id="summary_report" class="inner-box-5" onclick="enlargeItem(5),showItem('item-5')">Summary Report</div>
    <div id="master_report" class="inner-box-6" onclick="enlargeItem(6),showItem('item-6')">Master Report</div>
    
</div>

<div class="box" id="boxContent"style="overflow-x: auto;overflow-y:auto;">
    <div class="item item-1" id="item1">

      <center style="color: purple; text-shadow: 2px 2px 4px rgb(240, 118, 240);">
        <h2><b>Consolidated Report </b></h2><h4><b>(with sr.no)</b></h4></center>

       


        <label for="sr.no" style="margin-top: 20px;" >PART.NO:</label>
        <select class="sr_no" name="sr_no" disabled>
            <option value="1" selected>1</option>
        </select>
        

        <label for="partModel_1">PART MODEL:</label>
        <select class="partModel" id="partModel_1" name="partModel_1">
          {% for model in model_data %}
                <option>{{ model }}</option>
            {% endfor %}
        </select><br>

        <label for="parameter_name">PARAMETER NAME:</label>
        <select class="parameter_name" name="parameter_name">
        </select>
    
        <label for="operator">OPERATOR:</label>
        <select class="operator" name="operator">
            <option>ALL</option> 
          {% for operator in operator_data %}
                <option>{{ operator }}</option>
            {% endfor %}
        </select><br>

        
        <label for="from_date" style="margin-top: 30px;">FROM DATE TIME:</label>
        <input type="datetime-local" id="from_date" name="from_date"><br>
        

        <label for="to_date"style="margin-top: 30px;">TO DATE TIME:</label>
        <input type="datetime-local" id="to_date" name="to_date"><br>

        <label for="machine" style="margin-top: 30px;">MACHINE:</label>
        <select class="machine" name="machine">
            <option>ALL</option> 
          {% for machine in machine_data %}
                <option>{{ machine }}</option>
            {% endfor %}
        </select>

        <label for="vendor_code">VENDOR CODE:</label>
        <select id="vendor_code" name="vendor_code">
            <option>ALL</option> 
            {% for vendor in vendor_data %}
                <option>{{ vendor }}</option>
            {% endfor %}
        </select><br>


        <label for="job_no">JOB NO:</label>
        <select class="job_no" name="job_no"></select>
        
        <label for="shift">SHIFT:</label>
        <select class="shift" name="shift">
            <option>ALL</option> 
          {% for shift in shift_data %}
                <option>{{ shift }}</option>
            {% endfor %}
        </select><br>

        <a href="{% url 'index' %}" >
          <button type="button" id="cancel-btn"><b>Cancel</b></button>
          </a>
        <button type="button" id="report_btn_1"><b>View Report</b></button>
     
    </div>

    <div class="item item-2" id="item2">
      <center style="color: purple; text-shadow: 2px 2px 4px rgb(240, 118, 240);">
        <h2><b>Consolidated Report </b></h2><h4><b>(without sr.no)</b></h4></center>


        <label for="sr.no" >PART.NO:</label>
        <select class="sr_no" name="sr_no" disabled>
            <option value="1" selected>1</option>
        </select>
        

        <label for="partModel_2">PART MODEL:</label>
        <select class="partModel" id="partModel_2" name="partModel_2">
          {% for model in model_data %}
                <option>{{ model }}</option>
            {% endfor %}
        </select><br>

        <label for="parameter_name">PARAMATER NAME:</label>
        <select class="parameter_name" name="parameter_name" > 
        </select>

        <label for="operator">OPERATOR:</label>
        <select class="operator" name="operator">
            <option>ALL</option> 
          {% for operator in operator_data %}
                <option>{{ operator }}</option>
            {% endfor %}
        </select><br>

        
        <label for="from_date" style="margin-top: 30px;">FROM DATE TIME:</label>
        <input type="datetime-local" id="from_date" name="from_date"><br>
        

        <label for="to_date"style="margin-top: 30px;">TO DATE TIME:</label>
        <input type="datetime-local" id="to_date" name="to_date"><br>

       <label for="machine" style="margin-top: 30px;">MACHINE:</label>
        <select class="machine" name="machine">
            <option>ALL</option> 
          {% for machine in machine_data %}
                <option>{{ machine }}</option>
            {% endfor %}
        </select>

        
        <label for="vendor_code">VENDOR CODE:</label>
        <select id="vendor_code" name="vendor_code">
            <option>ALL</option> 
            {% for vendor in vendor_data %}
                <option>{{ vendor }}</option>
            {% endfor %}
        </select><br>



        <label for="job_no">JOB NO:</label>
        <select class="job_no" name="job_no"></select>
        
        <label for="shift">SHIFT:</label>
        <select class="shift" name="shift">
            <option>ALL</option> 
          {% for shift in shift_data %}
                <option>{{ shift }}</option>
            {% endfor %}
        </select><br>

        <a href="{% url 'index' %}" >
          <button type="button" id="cancel-btn"><b>Cancel</b></button>
          </a>
        <button type="button" class="report-btn"><b>View Report</b></button>    
    </div>

    <div class="item item-3" id="item3">
      <center style="color: purple; text-shadow: 2px 2px 4px rgb(240, 118, 240);">
        <h2><b>Parameterwise Report</b></h2></center>


        <label for="sr.no" >PART.NO:</label>
        <select class="sr_no" name="sr_no" disabled>
            <option value="1" selected>1</option>
        </select>
        

        <label for="partModel_3">PART MODEL:</label>
        <select class="partModel"id="partModel_3" name="partModel_3">
          {% for model in model_data %}
                <option>{{ model }}</option>
            {% endfor %}
        </select><br>

        <label for="parameter_name">PARAMATER NAME:</label>
        <select class="parameter_name" name="parameter_name" ></select>

        <label for="operator">OPERATOR:</label>
        <select class="operator" name="operator">
            <option>ALL</option> 
          {% for operator in operator_data %}
                <option>{{ operator }}</option>
            {% endfor %}
        </select><br>

        
        <label for="from_date" style="margin-top: 30px;">FROM DATE TIME:</label>
        <input type="datetime-local" id="from_date" name="from_date"><br>
        

        <label for="to_date"style="margin-top: 30px;">TO DATE TIME:</label>
        <input type="datetime-local" id="to_date" name="to_date"><br>

       <label for="machine" style="margin-top: 30px;">MACHINE:</label>
        <select class="machine" name="machine">
            <option>ALL</option> 
          {% for machine in machine_data %}
                <option>{{ machine }}</option>
            {% endfor %}
        </select>

        
        <label for="vendor_code">VENDOR CODE:</label>
        <select id="vendor_code" name="vendor_code">
            <option>ALL</option> 
            {% for vendor in vendor_data %}
                <option>{{ vendor }}</option>
            {% endfor %}
        </select><br>


        <label for="job_no">JOB NO:</label>
        <select class="job_no" name="job_no"></select>
        
        <label for="shift">SHIFT:</label>
        <select class="shift" name="shift">
            <option>ALL</option> 
          {% for shift in shift_data %}
                <option>{{ shift }}</option>
            {% endfor %}
        </select><br>

        <a href="{% url 'index' %}" >
          <button type="button" id="cancel-btn"><b>Cancel</b></button>
          </a>
        <button type="button" class="report-btn"><b>View Report</b></button>    
    </div>

    <div class="item item-4" id="item-4">
      <center style="color: purple; text-shadow: 2px 2px 4px rgb(240, 118, 240);">
        <h2><b>Jobwise Report </b></h2></center>


      <label for="sr.no" >PART.NO:</label>
      <select class="sr_no" name="sr_no" disabled>
        <option value="1" selected>1</option>
      </select>
    

      <label for="partModel_4">PART MODEL:</label>
      <select class="partModel" id="partModel_4" name="partModel_4">
        {% for model in model_data %}
                <option>{{ model }}</option>
            {% endfor %}
      </select><br>

      <label for="from_date" style="margin-top: 30px;">FROM DATE TIME:</label>
        <input type="datetime-local" id="from_date" name="from_date"><br>
        

        <label for="to_date"style="margin-top: 30px;">TO DATE TIME:</label>
        <input type="datetime-local" id="to_date" name="to_date"><br>

        <label for="job_no" style="margin-top: 20px;">JOB NO:</label>
        <select class="job_no" name="job_no" style="width: 40%;"></select><br>

       

        <a href="{% url 'index' %}" >
          <button type="button" id="cancel-btn"><b>Cancel</b></button>
          </a>
        <button type="button" class="report-btn"><b>View Report</b></button>  

    </div>

    <div class="item item-5" id="item-5">
      <center style="color: purple; text-shadow: 2px 2px 4px rgb(240, 118, 240);">
        <h2><b>Summary Report </b></h2></center>


        <label for="sr.no" >PART.NO:</label>
        <select class="sr_no" name="sr_no" disabled>
            <option value="1" selected>1</option>
        </select>
        

        <label for="partModel_5">PART MODEL:</label>
        <select class="partModel" id="partModel_5" name="partModel_5">
          {% for model in model_data %}
                <option>{{ model }}</option>
            {% endfor %}
        </select><br>

        <label for="parameter_name">PARAMATER NAME:</label>
        <select class="parameter_name" name="parameter_name" ></select>

        <label for="operator">OPERATOR:</label>
        <select class="operator" name="operator">
            <option>ALL</option> 
          {% for operator in operator_data %}
                <option>{{ operator }}</option>
            {% endfor %}
        </select><br>

        
        <label for="from_date" style="margin-top: 30px;">FROM DATE TIME:</label>
        <input type="datetime-local" id="from_date" name="from_date"><br>
        

        <label for="to_date"style="margin-top: 30px;">TO DATE TIME:</label>
        <input type="datetime-local" id="to_date" name="to_date"><br>

       <label for="machine" style="margin-top: 30px;">MACHINE:</label>
        <select class="machine" name="machine">
            <option>ALL</option> 
          {% for machine in machine_data %}
                <option>{{ machine }}</option>
            {% endfor %}
        </select>

        
        <label for="vendor_code">VENDOR CODE:</label>
        <select id="vendor_code" name="vendor_code">
            <option>ALL</option> 
            {% for vendor in vendor_data %}
                <option>{{ vendor }}</option>
            {% endfor %}
        </select><br>


        <label for="job_no">JOB NO:</label>
        <select class="job_no" name="job_no"></select>
        
        <label for="shift">SHIFT:</label>
        <select class="shift" name="shift">
            <option>ALL</option> 
          {% for shift in shift_data %}
                <option>{{ shift }}</option>
            {% endfor %}
        </select><br>

        <a href="{% url 'index' %}" >
          <button type="button" id="cancel-btn"><b>Cancel</b></button>
          </a>
        <button type="button" class="report-btn"><b>View Report</b></button>    
    </div>


    <div class="item item-6" id="item-6">
      <center style="color: purple; text-shadow: 2px 2px 4px rgb(240, 118, 240);">
        <h2><b>Master Report </b></h2></center>


        <label for="sr.no" >PART.NO:</label>
        <select class="sr_no" name="sr_no" disabled>
            <option value="1" selected>1</option>
        </select>
        

        <label for="partModel_6">PART MODEL:</label>
        <select class="partModel" id="partModel_6" name="partModel_6">
          {% for model in model_data %}
                <option>{{ model }}</option>
            {% endfor %}
        </select><br>

        <label for="parameter_name">PARAMATER NAME:</label>
        <select class="parameter_name" name="parameter_name" ></select>

        <label for="operator">OPERATOR:</label>
        <select class="operator" name="operator">
            <option>ALL</option> 
          {% for operator in operator_data %}
                <option>{{ operator }}</option>
            {% endfor %}
        </select><br>


        
        <label for="from_date" style="margin-top: 30px;">FROM DATE TIME:</label>
        <input type="datetime-local" id="from_date" name="from_date"><br>
        

        <label for="to_date"style="margin-top: 30px;">TO DATE TIME:</label>
        <input type="datetime-local" id="to_date" name="to_date"><br>

       <label for="machine" style="margin-top: 30px;">MACHINE:</label>
        <select class="machine" name="machine">
            <option>ALL</option> 
          {% for machine in machine_data %}
                <option>{{ machine }}</option>
            {% endfor %}
        </select>

        
        <label for="vendor_code">VENDOR CODE:</label>
        <select id="vendor_code" name="vendor_code">
            <option>ALL</option> 
            {% for vendor in vendor_data %}
                <option>{{ vendor }}</option>
            {% endfor %}
        </select><br>

         
        <label for="job_no">JOB NO:</label>
        <select class="job_no" name="job_no"></select>
        
        <label for="shift">SHIFT:</label>
        <select class="shift" name="shift">
            <option>ALL</option> 
          {% for shift in shift_data %}
                <option>{{ shift }}</option>
            {% endfor %}
        </select><br>

        <a href="{% url 'index' %}" >
          <button type="button" id="cancel-btn"><b>Cancel</b></button>
          </a>
        <button type="button" class="report-btn"><b>View Report</b></button>    
    </div>

    
</div>


    <div class="box" id="clock-box"></div>


<script>

// Function to update the clock
function updateClock() {
  var now = new Date();
  var hours = now.getHours();
  var minutes = now.getMinutes();
  var seconds = now.getSeconds();
  var day = now.getDate();
  var month = now.getMonth() + 1; // January is 0, so we add 1 to get the actual month
  var year = now.getFullYear();

  // Format the time string
  var ampm = hours >= 12 ? 'PM' : 'AM'; // Determine if it's AM or PM
  hours = hours % 12; // Convert to 12-hour format
  hours = hours ? hours : 12; // Handle midnight (0 hours)
  var timeString = hours + ":" + minutes.toString().padStart(2, '0') + ":" + seconds.toString().padStart(2, '0') + " " + ampm;

  // Format the date string
  var dateString = day.toString().padStart(2, '0') + "-" + month.toString().padStart(2, '0') + "-" + year;

  var dateTimeString =  timeString  +  " / " +   dateString;

  // Update the clock display
  document.getElementById("clock-box").innerHTML = dateTimeString;

  // Call this function again after 1 second
  setTimeout(updateClock, 1000);
}

// Call the function to initially display the clock
updateClock();
////////////////////////////////////////////////////////////////////////////////////////


$(document).ready(function() {
    // Event listener for any select element with class 'partModel'
    $('.partModel').change(function() {
      // Get the selected option value
      var selectedOption = $(this).val();
      
      // Update all other select elements with the same value
      $('.partModel').val(selectedOption);
    });
  });

  ////////////////////////////////////////////////////////////////////////////////////////////////
  function enlargeItem(index) {
            document.querySelectorAll('.box-1 > div').forEach(function (el) {
                el.style.backgroundColor = ''; 
            });
            var clickedInnerBox = document.querySelector(`.box-1 .inner-box-${index}`);
            clickedInnerBox.style.backgroundColor = 'red';
           
            
        }
        
        function showItem(itemClassName) {
            var itemClasses = document.querySelectorAll('.item');
            itemClasses.forEach(function (item) {
                item.style.display = 'none';
            });
        
            var selectedItem = document.querySelector('.' + itemClassName);
            if (selectedItem) {
                selectedItem.style.display = 'block';
            }
        }
        window.onload = function () {
            showItem('item-1');
            document.querySelector('.box-1 .inner-box-1').style.backgroundColor='red';
        };

/////////////////////////////////////////////////////////////////////////////////////////

$(document).ready(function() {
    // Function to fetch data based on selected model
    function fetchData(selectedModel, selectElement) {
        var data = {
            partModel: selectedModel
        };
        console.log("data:", data);

        $.ajax({
            url: '/report/', // Replace with your server endpoint
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'), // Ensure you have this function defined
            },
            data: JSON.stringify(data), // Stringify the data before sending
            success: function(response) {
                // Handle the response from the server
                console.log('Success:', response);
                console.log('parameter_names:', response.parameter_names);
                console.log('component_serial_numbers:', response.component_serial_numbers);

                // Select the <select> element
                var selectElement = $('.parameter_name',);


            // Clear existing options (if any) and add "ALL" option
            selectElement.empty().append('<option value="ALL">ALL</option>');


            // Populate options based on response.parameter_names
            $.each(response.parameter_names, function(index, paramName) {
                selectElement.append($('<option></option>').text(paramName));
            });

            // Optionally, trigger a change event if needed
            selectElement.trigger('change');

///////////////////////////////////////////////////////////////////////////////

            // Select the <select> element for job numbers
            var selectElement = $('.job_no');

            // Clear existing options (if any) and add "ALL" option
            selectElement.empty().append('<option value="ALL">ALL</option>');

            // Populate options based on response.component_serial_numbers
            $.each(response.component_serial_numbers, function(index, serialNumber) {
                selectElement.append($('<option></option>').text(serialNumber));
            });

            // Optionally, trigger a change event if needed
            selectElement.trigger('change');


            },
            error: function(error) {
                // Handle errors here
                console.error('Error:', error);
            }
        });
    }
 
    // Event listener for the dropdown change
    $('.partModel').change(function() {
        var selectedModel = $(this).val();
        var selectElement = $(this).closest('.model-container').find('.parameter_name');
        fetchData(selectedModel, selectElement);
    });

    // Send initial value on window load with 1-second delay
    setTimeout(function() {
        $('.partModel').each(function() {
            var initialModel = $(this).val();
            var selectElement = $(this).closest('.model-container').find('.parameter_name');
            fetchData(initialModel, selectElement);
        });
    }, 1000); // 1-second delay
});


// Function to get CSRF token
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


///////////////////////////////////////////////////////////////////////////////////////////

//item-1 (consolidate report with srno) send to the consolidateSrNo.html page

$(document).ready(function() {
    $('#report_btn_1').click(function(event) {
        event.preventDefault();  // Prevent the default form submission
        
        var partModel = $('#partModel_1').val();
        var parameterName = $('select[name="parameter_name"]').val();
        var operator = $('select[name="operator"]').val();
        var fromDate = $('#from_date').val();  // Assuming fromDate and toDate are already formatted as needed
        var toDate = $('#to_date').val();
        var machine = $('select[name="machine"]').val();
        var vendorCode = $('#vendor_code').val();
        var jobNo = $('select[name="job_no"]').val();
        var shift = $('select[name="shift"]').val();

        // Function to format the date and time
        function formatDateTime(dateTime) {
            var date = new Date(dateTime);
            var day = date.getDate().toString().padStart(2, '0');
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var year = date.getFullYear();
            var hours = date.getHours();
            var minutes = date.getMinutes().toString().padStart(2, '0');
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            var strTime = hours + ':' + minutes + ':' + "00" + ' ' + ampm;
            return day + '-' + month + '-' + year + ' ' + strTime;
        }

        var formattedFromDate = formatDateTime(fromDate);
        var formattedToDate = formatDateTime(toDate);

        // Get the current date and time
        function getCurrentDateTime() {
            var now = new Date();
            var day = now.getDate().toString().padStart(2, '0');
            var month = (now.getMonth() + 1).toString().padStart(2, '0'); // January is 0
            var year = now.getFullYear();
            var hours = now.getHours();
            var minutes = now.getMinutes().toString().padStart(2, '0');
            var seconds = now.getSeconds().toString().padStart(2, '0');
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            var timeString = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
            var dateString = day + '-' + month + '-' + year;
            return dateString + ' ' + timeString;
        }

        var currentDateTime = getCurrentDateTime();

        // Log the gathered data to the console
        console.log("Part Model:", partModel);
        console.log("Parameter Name:", parameterName);
        console.log("Operator:", operator);
        console.log("From Date:", formattedFromDate);
        console.log("To Date:", formattedToDate);
        console.log("Machine:", machine);
        console.log("Vendor Code:", vendorCode);
        console.log("Job No:", jobNo);
        console.log("Shift:", shift);
        console.log("Current Date and Time:", currentDateTime);

        var data = {
            id: 'consolidate_with_srno',
            partModel: partModel,
            parameterName: parameterName,
            operator: operator,
            fromDate: formattedFromDate,
            toDate: formattedToDate,
            machine: machine,
            vendorCode: vendorCode,
            jobNo: jobNo,
            shift: shift,
            currentDateTime: currentDateTime  // Include currentDateTime in the data
        };

        // Fetch CSRF token from cookie
        var csrftoken = getCookie('csrftoken');

        $.ajax({
            type: 'POST',
            url: '/report/',  // Replace with your actual backend endpoint
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function(response) {
                console.log('Response:', response);  // Debugging information
                alert('Shift settings saved successfully!');
            },
            error: function(error) {
                console.log('Error:', error);  // Debugging information
                alert('An error occurred while saving shift settings.');
            }
        });
    });
});
document.getElementById('report_btn_1').addEventListener('click', function() {
        window.location.href = '/srno/'; // Replace '/srno-page' with the actual URL you want to redirect to
    });

// Function to get CSRF cookie value
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Check if this cookie name is the one we want
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


      
</script>

{% endblock content %}