{% extends 'app/layouts/main.html' %}
{% block title %}
SPC REPORTS
{% endblock title %}
{% block content %}


<style>
  

.box {
    width: 850px;
    height: 550px;
    margin-left:340px ;
    margin-top: -550px;
    background-color: lightgrey;
    border: 2px solid black;
}

.box-1 {
    width: 250px;
    height: 550px;
    margin-top:20px;
    margin-left: 50px;
    background-color: white;
    border: 2px solid black;
    padding-top: 50px;
    padding-left: 5px;
  }

.inner-box-1, .inner-box-2, .inner-box-3, .inner-box-4, .inner-box-6{
    width: 230px; 
    height: 65px;
    background-color:rgb(245, 188, 83);
    border: 2px solid black; 
    margin: 5px;
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
  }

.item-1, .item-2, .item-3, .item-4,.item-6{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: lightgrey;
    
  }
  label {
            display: inline-block;
            width: 150px;
            margin-top: 15px;
            text-align: center;
            margin-left: 20px;
            font-weight: bold;
            
        }

  select {
      margin-top: 10px;
      box-sizing: border-box;
      width: 20%;
      height: 30px;
  }

  #cancel-btn{
             background-color: orange;
             color:black;
             height: 50px;
             width: 150px;
             margin-left: 10px;
             margin-top: 30px;
               
         }
  
  .report-btn{
      background-color: green;
      color:black;           
      height: 50px;
      width: 150px; 
      margin-left: 65px; 
      margin-top: 30px;
  }
  

#clock-box{
         font-weight: bold;
        }
        
</style>


<div class="box-1">
    <div id="consolidated_srno_reports" class="inner-box-1" onclick="enlargeItem(1),showItem('item-1')">X-BAR CHART</div>
    <div id="consolidated_without_reports" class="inner-box-2" onclick="enlargeItem(2),showItem('item-2')">X-BAR R-CHART</div>
    <div id="parameter_wise_reports" class="inner-box-3" onclick="enlargeItem(3),showItem('item-3')">X-BAR S-CHART</div>
    <div id="job_wise_reports" class="inner-box-4" onclick="enlargeItem(4),showItem('item-4'),focusJobNoInput()">HISTOGRAM</div>
    <div id="master_reports" class="inner-box-6" onclick="enlargeItem(6),showItem('item-6')">PIE CHART</div>
    
</div>

<div class="box" id="boxContent"style="overflow-x: auto;overflow-y:auto;">
    <div class="item item-1" id="consolidate_with_srno">

      <center style="color: purple; text-shadow: 2px 2px 4px rgb(240, 118, 240);">
        <h2><b>X-BAR CHART</b></h4></center>

       


            <label for="sr.no" style="margin-top: 20px;">PART.NO:</label>
            <select class="sr_no" id="sr_no" name="sr_no" disabled>
                <option value="1" selected>1</option>
            </select>
            
            <label for="partModel">PART MODEL:</label>
            <select class="partModel" id="partModel" name="partModel">
                {% for model in model_data %}
                    <option>{{ model }}</option> <!-- No need for value="{{ forloop.counter }}" -->
                {% endfor %}
            </select><br>

        <label for="parameter_name">PARAMETER NAME:</label>
        <select class="parameter_name" name="parameter_name">
        </select>
    
        <label for="operator">OPERATOR:</label>
        <select class="operator" name="operator">
            <option>ALL</option> 
          {% for operator in operator_data %}
                <option>{{ operator }}</option>
            {% endfor %}
        </select><br>

        
        <label for="from_date" style="margin-top: 30px;">FROM DATE TIME:</label>
        <input type="datetime-local" class="from-date" id="from_date" name="from_date"><br>
        

        <label for="to_date"style="margin-top: 30px;">TO DATE TIME:</label>
        <input type="datetime-local" class="to-date"  id="to_date" name="to_date"><br>

        <label for="machine" style="margin-top: 30px;">MACHINE:</label>
        <select class="machine" name="machine">
            <option>ALL</option> 
          {% for machine in machine_data %}
                <option>{{ machine }}</option>
            {% endfor %}
        </select>

        <label for="vendor_code">VENDOR CODE:</label>
        <select id="vendor_code" name="vendor_code">
            <option>ALL</option> 
            {% for vendor in vendor_data %}
                <option>{{ vendor }}</option>
            {% endfor %}
        </select><br>


        <label for="job_no">JOB NO:</label>
        <select class="job_no" name="job_no"></select>
        
        <label for="shift">SHIFT:</label>
        <select class="shift" name="shift">
            <option>ALL</option> 
          {% for shift in shift_data %}
                <option>{{ shift }}</option>
            {% endfor %}
        </select><br>

        <a href="{% url 'index' %}" >
          <button type="button" id="cancel-btn"><b>Cancel</b></button>
          </a>
        <button type="button" class="report-btn" id="report_btn_1"><b>View Report</b></button>
     
    </div>

    <div class="item item-2" id="consolidate_without_srno">
      <center style="color: purple; text-shadow: 2px 2px 4px rgb(240, 118, 240);">
        <h2><b>X-BAR R-CHART</b></h4></center>


            <label for="sr.no" style="margin-top: 20px;">PART.NO:</label>
            <select class="sr_no" id="sr_no" name="sr_no" disabled>
                <option value="1" selected>1</option>
            </select>
            
            <label for="partModel">PART MODEL:</label>
            <select class="partModel" id="partModel" name="partModel">
                {% for model in model_data %}
                    <option>{{ model }}</option> <!-- No need for value="{{ forloop.counter }}" -->
                {% endfor %}
            </select><br>

        <label for="parameter_name">PARAMATER NAME:</label>
        <select class="parameter_name" name="parameter_name" > 
        </select>

        <label for="operator">OPERATOR:</label>
        <select class="operator" name="operator">
            <option>ALL</option> 
          {% for operator in operator_data %}
                <option>{{ operator }}</option>
            {% endfor %}
        </select><br>

        
        <label for="from_date" style="margin-top: 30px;">FROM DATE TIME:</label>
        <input type="datetime-local" class="from-date" id="from_date" name="from_date"><br>
        

        <label for="to_date"style="margin-top: 30px;">TO DATE TIME:</label>
        <input type="datetime-local" class="to-date" id="to_date" name="to_date"><br>

       <label for="machine" style="margin-top: 30px;">MACHINE:</label>
        <select class="machine" name="machine">
            <option>ALL</option> 
          {% for machine in machine_data %}
                <option>{{ machine }}</option>
            {% endfor %}
        </select>

        
        <label for="vendor_code">VENDOR CODE:</label>
        <select id="vendor_code" name="vendor_code">
            <option>ALL</option> 
            {% for vendor in vendor_data %}
                <option>{{ vendor }}</option>
            {% endfor %}
        </select><br>

        
        <label for="shift">SHIFT:</label>
        <select class="shift" name="shift">
            <option>ALL</option> 
          {% for shift in shift_data %}
                <option>{{ shift }}</option>
            {% endfor %}
        </select><br>

        <a href="{% url 'index' %}" >
          <button type="button" id="cancel-btn"><b>Cancel</b></button>
          </a>
        <button type="button" class="report-btn" id="report_btn_2"><b>View Report</b></button>    
    </div>

    <div class="item item-3" id="parameterwise_report">
      <center style="color: purple; text-shadow: 2px 2px 4px rgb(240, 118, 240);">
        <h2><b>X-BAR S-CHART</b></h2></center>


        <label for="sr.no" style="margin-top: 20px;">PART.NO:</label>
        <select class="sr_no" id="sr_no" name="sr_no" disabled>
            <option value="1" selected>1</option>
        </select>
        
        <label for="partModel">PART MODEL:</label>
        <select class="partModel" id="partModel" name="partModel">
            {% for model in model_data %}
                <option>{{ model }}</option> <!-- No need for value="{{ forloop.counter }}" -->
            {% endfor %}
        </select><br>

        <label for="parameter_name">PARAMATER NAME:</label>
        <select class="parameter_name" name="parameter_name" ></select>

        <label for="operator">OPERATOR:</label>
        <select class="operator" name="operator">
            <option>ALL</option> 
          {% for operator in operator_data %}
                <option>{{ operator }}</option>
            {% endfor %}
        </select><br>

        
        <label for="from_date" style="margin-top: 30px;">FROM DATE TIME:</label>
        <input type="datetime-local" class="from-date" id="from_date" name="from_date"><br>
        

        <label for="to_date"style="margin-top: 30px;">TO DATE TIME:</label>
        <input type="datetime-local" class="to-date" id="to_date" name="to_date"><br>

       <label for="machine" style="margin-top: 30px;">MACHINE:</label>
        <select class="machine" name="machine">
            <option>ALL</option> 
          {% for machine in machine_data %}
                <option>{{ machine }}</option>
            {% endfor %}
        </select>

        
        <label for="vendor_code">VENDOR CODE:</label>
        <select id="vendor_code" name="vendor_code">
            <option>ALL</option> 
            {% for vendor in vendor_data %}
                <option>{{ vendor }}</option>
            {% endfor %}
        </select><br>


        <label for="job_no">JOB NO:</label>
        <select class="job_no" name="job_no"></select>
        
        <label for="shift">SHIFT:</label>
        <select class="shift" name="shift">
            <option>ALL</option> 
          {% for shift in shift_data %}
                <option>{{ shift }}</option>
            {% endfor %}
        </select><br>

        <a href="{% url 'index' %}" >
          <button type="button" id="cancel-btn"><b>Cancel</b></button>
          </a>
        <button type="button" class="report-btn" id="report_btn_3"><b>View Report</b></button>    
    </div>

    <div class="item item-4" id="jobwise_report">
      <center style="color: purple; text-shadow: 2px 2px 4px rgb(240, 118, 240);">
        <h2><b>HISTOGRAM</b></h2></center>


        <label for="sr.no" style="margin-top: 20px;">PART.NO:</label>
        <select class="sr_no" id="sr_no" name="sr_no" disabled>
            <option value="1" selected>1</option>
        </select>
        
        <label for="partModel">PART MODEL:</label>
        <select class="partModel" id="partModel" name="partModel">
            {% for model in model_data %}
                <option>{{ model }}</option> <!-- No need for value="{{ forloop.counter }}" -->
            {% endfor %}
        </select><br>

        <label for="parameter_name">PARAMATER NAME:</label>
        <select class="parameter_name" name="parameter_name" ></select>

        <label for="operator">OPERATOR:</label>
        <select class="operator" name="operator">
            <option>ALL</option> 
          {% for operator in operator_data %}
                <option>{{ operator }}</option>
            {% endfor %}
        </select><br>


        
        <label for="from_date" style="margin-top: 30px;">FROM DATE TIME:</label>
        <input type="datetime-local" class="from-date" id="from_date" name="from_date"><br>
        

        <label for="to_date"style="margin-top: 30px;">TO DATE TIME:</label>
        <input type="datetime-local" class="to-date" id="to_date" name="to_date"><br>

       <label for="machine" style="margin-top: 30px;">MACHINE:</label>
        <select class="machine" name="machine">
            <option>ALL</option> 
          {% for machine in machine_data %}
                <option>{{ machine }}</option>
            {% endfor %}
        </select>

        
        <label for="vendor_code">VENDOR CODE:</label>
        <select id="vendor_code" name="vendor_code">
            <option>ALL</option> 
            {% for vendor in vendor_data %}
                <option>{{ vendor }}</option>
            {% endfor %}
        </select><br>

         
        <label for="job_no">JOB NO:</label>
        <select class="job_no" name="job_no"></select>
        
        <label for="shift">SHIFT:</label>
        <select class="shift" name="shift">
            <option>ALL</option> 
          {% for shift in shift_data %}
                <option>{{ shift }}</option>
            {% endfor %}
        </select><br>
       

        <a href="{% url 'index' %}" >
          <button type="button" id="cancel-btn"><b>Cancel</b></button>
          </a>
        <button type="button" class="report-btn" id="report_btn_4"><b>View Report</b></button>  

    </div>

    <div class="item item-6" id="master_report">
      <center style="color: purple; text-shadow: 2px 2px 4px rgb(240, 118, 240);">
        <h2><b>PIE CHART</b></h2></center>


        <label for="sr.no" style="margin-top: 20px;">PART.NO:</label>
        <select class="sr_no" id="sr_no" name="sr_no" disabled>
            <option value="1" selected>1</option>
        </select>
        
        <label for="partModel">PART MODEL:</label>
        <select class="partModel" id="partModel" name="partModel">
            {% for model in model_data %}
                <option>{{ model }}</option> <!-- No need for value="{{ forloop.counter }}" -->
            {% endfor %}
        </select><br>

        <label for="parameter_name">PARAMATER NAME:</label>
        <select class="parameter_name" name="parameter_name" ></select>

        <label for="operator">OPERATOR:</label>
        <select class="operator" name="operator">
            <option>ALL</option> 
          {% for operator in operator_data %}
                <option>{{ operator }}</option>
            {% endfor %}
        </select><br>


        
        <label for="from_date" style="margin-top: 30px;">FROM DATE TIME:</label>
        <input type="datetime-local" class="from-date" id="from_date" name="from_date"><br>
        

        <label for="to_date"style="margin-top: 30px;">TO DATE TIME:</label>
        <input type="datetime-local" class="to-date" id="to_date" name="to_date"><br>

       <label for="machine" style="margin-top: 30px;">MACHINE:</label>
        <select class="machine" name="machine">
            <option>ALL</option> 
          {% for machine in machine_data %}
                <option>{{ machine }}</option>
            {% endfor %}
        </select>

        
        <label for="vendor_code">VENDOR CODE:</label>
        <select id="vendor_code" name="vendor_code">
            <option>ALL</option> 
            {% for vendor in vendor_data %}
                <option>{{ vendor }}</option>
            {% endfor %}
        </select><br>

         
        <label for="job_no">JOB NO:</label>
        <select class="job_no" name="job_no"></select>
        
        <label for="shift">SHIFT:</label>
        <select class="shift" name="shift">
            <option>ALL</option> 
          {% for shift in shift_data %}
                <option>{{ shift }}</option>
            {% endfor %}
        </select><br>

        <a href="{% url 'index' %}" >
          <button type="button" id="cancel-btn"><b>Cancel</b></button>
          </a>
        <button type="button" class="report-btn" id="report_btn_6"><b>View Report</b></button>    
    </div>

    
</div>


    <div class="box" id="clock-box"></div>


<script>

document.querySelectorAll('.partModel').forEach(function(partModelDropdown) {
    partModelDropdown.addEventListener("change", function() {
        // Get the selected index of the partModel
        var selectedIndex = this.selectedIndex + 1; // Add 1 to match sr_no with index (starting from 1)

        // Update all sr_no dropdowns
        document.querySelectorAll('.sr_no').forEach(function(srNoDropdown) {
            srNoDropdown.innerHTML = ""; // Clear previous options

            // Set the new value for sr_no to match selected partModel index
            var option = document.createElement("option");
            option.value = selectedIndex;
            option.text = selectedIndex;
            option.selected = true;

            srNoDropdown.appendChild(option);
        });

        // Optionally, if you want to update all partModel dropdowns as well
        document.querySelectorAll('.partModel').forEach(function(otherPartModelDropdown) {
            if (otherPartModelDropdown !== partModelDropdown) {
                otherPartModelDropdown.selectedIndex = selectedIndex - 1;
            }
        });
    });
});
///////////////////////////////////////////////////////////////////////////////////

//cursor to blink always in the job_no report

  // Parse the shift values from your JSON object
  var shiftValues = JSON.parse('{{ shift_values|escapejs }}');
        console.log('Shift values:', shiftValues);

        // Helper function to convert 12-hour time format to 24-hour format
        function convertTo24Hour(timeString) {
            let [time, modifier] = timeString.trim().split(' ');
            let [hours, minutes, seconds] = time.split(':');
            if (modifier === 'PM' && hours !== '12') {
                hours = parseInt(hours, 10) + 12;
            }
            if (modifier === 'AM' && hours === '12') {
                hours = 0;
            }
            return `${hours.toString().padStart(2, '0')}:${minutes}:${seconds}`;
        }

        // Function to determine the from-date based on the current time
        function setDateTimes() {
            let now = new Date();
            let currentTime = now.toTimeString().split(' ')[0]; // 'HH:MM:SS'
            let currentDate = now.toISOString().split('T')[0]; // 'YYYY-MM-DD'

            // Remove seconds from the current time for to-date
            let [hours, minutes] = currentTime.split(':');
            let toDateTime = `${currentDate}T${hours}:${minutes}`;

            // Set the to-date input
            let toDateElements = document.getElementsByClassName('to-date');
            for (let element of toDateElements) {
                element.value = toDateTime;
            }

            // Determine the from-date based on the shift values
            let fromDateTime = null;
            for (let i = shiftValues.length - 1; i >= 0; i--) {
                let [shiftName, shiftTime] = shiftValues[i];
                let shift24HourTime = convertTo24Hour(shiftTime);
                if (currentTime >= shift24HourTime) {
                    fromDateTime = `${currentDate}T${shift24HourTime}`;
                    break;
                }
            }
            if (!fromDateTime) {
                fromDateTime = `${currentDate}T00:00:00`; // Default to start of the day if no shift is found
            }

            // Set the from-date input
            let fromDateElements = document.getElementsByClassName('from-date');
            for (let element of fromDateElements) {
                element.value = fromDateTime;
            }

            console.log('Current time:', currentTime);
            console.log('To date-time (without seconds):', toDateTime);
            console.log('From date-time:', fromDateTime);
        }

        setDateTimes();

/////////////////////////////////////////////////////////////////////////////////

// Function to update the clock
function updateClock() {
  var now = new Date();
  var hours = now.getHours();
  var minutes = now.getMinutes();
  var seconds = now.getSeconds();
  var day = now.getDate();
  var month = now.getMonth() + 1; // January is 0, so we add 1 to get the actual month
  var year = now.getFullYear();

  // Format the time string
  var ampm = hours >= 12 ? 'PM' : 'AM'; // Determine if it's AM or PM
  hours = hours % 12; // Convert to 12-hour format
  hours = hours ? hours : 12; // Handle midnight (0 hours)
  var timeString = hours + ":" + minutes.toString().padStart(2, '0') + ":" + seconds.toString().padStart(2, '0') + " " + ampm;

  // Format the date string
  var dateString = day.toString().padStart(2, '0') + "-" + month.toString().padStart(2, '0') + "-" + year;

  var dateTimeString =  timeString  +  " / " +   dateString;

  // Update the clock display
  document.getElementById("clock-box").innerHTML = dateTimeString;

  // Call this function again after 1 second
  setTimeout(updateClock, 1000);
}

// Call the function to initially display the clock
updateClock();
////////////////////////////////////////////////////////////////////////////////////////


$(document).ready(function() {
    // Event listener for any select element with class 'partModel'
    $('.partModel').change(function() {
      // Get the selected option value
      var selectedOption = $(this).val();
      
      // Update all other select elements with the same value
      $('.partModel').val(selectedOption);
    });
  });

  ////////////////////////////////////////////////////////////////////////////////////////////////
  function enlargeItem(index) {
            document.querySelectorAll('.box-1 > div').forEach(function (el) {
                el.style.backgroundColor = '';
            });
            var clickedInnerBox = document.querySelector(`.box-1 .inner-box-${index}`);
            clickedInnerBox.style.backgroundColor = 'red';
            console.log("Selected ID:", clickedInnerBox.id); // Log the ID of the clicked element
        }

        function showItem(itemClassName) {
            var itemClasses = document.querySelectorAll('.item');
            itemClasses.forEach(function (item) {
                item.style.display = 'none';
            });

            var selectedItem = document.querySelector('.' + itemClassName);
            if (selectedItem) {
                selectedItem.style.display = 'block';
                console.log("Displayed Item Class:", itemClassName); // Log the class name of the displayed item
                console.log("Selected ID:", selectedItem.id);
            }
        }

        window.onload = function () {
            showItem('item-1');
            document.querySelector('.box-1 .inner-box-1').style.backgroundColor = 'red';
            console.log("Displayed Item Class: item-1"); // Log the class name of the default displayed item
        };

        // Function to format the date and time
        function formatDateTime(dateTime) {
            var date = new Date(dateTime);
            var day = date.getDate().toString().padStart(2, '0');
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var year = date.getFullYear();
            var hours = date.getHours();
            var minutes = date.getMinutes().toString().padStart(2, '0');
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            var strTime = hours + ':' + minutes + ':' + "00" + ' ' + ampm;
            return day + '-' + month + '-' + year + ' ' + strTime;
        }

        // Function to get the current date and time
        function getCurrentDateTime() {
            var now = new Date();
            var day = now.getDate().toString().padStart(2, '0');
            var month = (now.getMonth() + 1).toString().padStart(2, '0'); // January is 0
            var year = now.getFullYear();
            var hours = now.getHours();
            var minutes = now.getMinutes().toString().padStart(2, '0');
            var seconds = now.getSeconds().toString().padStart(2, '0');
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            var timeString = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
            var dateString = day + '-' + month + '-' + year;
            return dateString + ' ' + timeString;
        }


        document.querySelectorAll('.report-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            var activeItem = document.querySelector('.item[style*="display: block"]');
            if (activeItem) {
                var data = {};
                var formElements = activeItem.querySelectorAll('input, select');
                formElements.forEach(function(element) {
                    if (element.type === 'datetime-local') {
                        data[element.name] = formatDateTime(element.value);
                    } else {
                        data[element.name] = element.value;
                    }
                });
                // Add the current date and time to the data
                data.currentDateTime = getCurrentDateTime();
                
                // Add the ID of the active item to the data
                data.itemId = activeItem.id;
                
                console.log("Data to be sent:", data); // Log the data to be sent

                    // Fetch CSRF token from cookie
                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    var csrftoken = getCookie('csrftoken');

                    $.ajax({
                        type: 'POST',
                        url: '/spc/',  // Replace with your actual backend endpoint
                        data: JSON.stringify(data),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function(response) {
                            console.log('Response:', response);  // Debugging information
                            alert('Report generated successfully!');
                        },
                        error: function(error) {
                            console.log('Error:', error);  // Debugging information
                            alert('An error occurred while generating the report.');
                        }
                    });
                }
            });
        });
/////////////////////////////////////////////////////////////////////////////////////////

$(document).ready(function() {
    // Function to fetch data based on selected model
    function fetchData(selectedModel, selectElement) {
        var data = {
            partModel: selectedModel
        };
        console.log("data:", data);

        $.ajax({
            url: '/spc/', // Replace with your server endpoint
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'), // Ensure you have this function defined
            },
            data: JSON.stringify(data), // Stringify the data before sending
            success: function(response) {
                // Handle the response from the server
                console.log('Success:', response);
                console.log('parameter_names:', response.parameter_names);
                console.log('component_serial_numbers:', response.component_serial_numbers);

                // Select the <select> element
                var selectElement = $('.parameter_name',);


            // Clear existing options (if any) and add "ALL" option
            selectElement.empty().append('<option value="ALL">ALL</option>');


            // Populate options based on response.parameter_names
            $.each(response.parameter_names, function(index, paramName) {
                selectElement.append($('<option></option>').text(paramName));
            });

            // Optionally, trigger a change event if needed
            selectElement.trigger('change');

///////////////////////////////////////////////////////////////////////////////

            // Select the <select> element for job numbers
            var selectElement = $('.job_no');

            // Clear existing options (if any) and add "ALL" option
            selectElement.empty().append('<option value="ALL">ALL</option>');

            // Populate options based on response.component_serial_numbers
            $.each(response.component_serial_numbers, function(index, serialNumber) {
                selectElement.append($('<option></option>').text(serialNumber));
            });

            // Optionally, trigger a change event if needed
            selectElement.trigger('change');


            },
            error: function(error) {
                // Handle errors here
                console.error('Error:', error);
            }
        });
    }
 
    // Event listener for the dropdown change
    $('.partModel').change(function() {
        var selectedModel = $(this).val();
        var selectElement = $(this).closest('.model-container').find('.parameter_name');
        fetchData(selectedModel, selectElement);
    });

    // Send initial value on window load with 1-second delay
    setTimeout(function() {
        $('.partModel').each(function() {
            var initialModel = $(this).val();
            var selectElement = $(this).closest('.model-container').find('.parameter_name');
            fetchData(initialModel, selectElement);
        });
    }, 1000); // 1-second delay
});


// Function to get CSRF token
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


///////////////////////////////////////////////////////////////////////////////////////////
document.addEventListener("DOMContentLoaded", function() {
    // Find the button element by its ID
    var reportBtn = document.getElementById("report_btn_1");

    // Add click event listener to the button
    reportBtn.addEventListener("click", function() {
        // Redirect to the desired URL
        window.location.href = '//';
    });
});

document.addEventListener("DOMContentLoaded", function() {
    // Find the button element by its ID
    var reportBtn = document.getElementById("report_btn_2");

    // Add click event listener to the button
    reportBtn.addEventListener("click", function() {
        // Redirect to the desired URL
        window.location.href = '//';
    });
});

document.addEventListener("DOMContentLoaded", function() {
    // Find the button element by its ID
    var reportBtn = document.getElementById("report_btn_3");

    // Add click event listener to the button
    reportBtn.addEventListener("click", function() {
        // Redirect to the desired URL
        window.location.href = '//';
    });
});

document.addEventListener("DOMContentLoaded", function() {
    // Find the button element by its ID
    var reportBtn = document.getElementById("report_btn_4");

    // Add click event listener to the button
    reportBtn.addEventListener("click", function() {
        // Redirect to the desired URL
        window.location.href = '//';
    });
});
      
</script>

{% endblock content %}